<br><br>
    <center>
   <br>
   <h1><mark><i><span style="color:red"> 어</span>차피 
   <span style="color:red"> 덕</span>질하는 거
   <span style="color:red"> 나</span>누면서 
   <span style="color:red"> 덕</span>질하자</i></h1></mark></h1>
    <br>
    <br>
    <div style="border:3px solid; color: pink; padding:50px;width:700px;height:auto;text-align:left;margin-bottom:100px">
 <span style="color:black">
<br><h2><span style="color:blue">하나라도 필요하다면 여기로 드루와 드루와 </span></h2><br>
 <h3>아 나의 님 .. 무슨말 하는지 도무지 모르겠어 . <br> 그 분 의 영상 및 남겨놓은 글이 무슨말인지 알고 싶을때, <br><span style="color:#d699ff">'해석을 부탁해'</span>드루와.<br><br>
 <br> 나의 님과 소통하고자 언어공부좀 할라하는데 같이 할 사람?<br> 함께 우리 님에 대한 소식을 공유하고 다른 나라 언어도 공부해요!<br><span style="color:#d699ff">'스타디'</span> 드루와.<br><br>
 <br> 앨범샀는데 또 ! 똑같은 사진 ! 아니면 같이 사서 싸게 사자 ! <br>나의 님에 관한 굿즈들을 어덕나덕 친구들과 교환 및 공동구매를 할 수 있어요 ! <br> <span style="color:#d699ff">'바꿔바꿔' </span>드루와.<br><br>
 <br><br> 혼자 덕질 하는거 외롭지 않니 ?<br> 우리와 함께 찰떡궁합 덕질 메이트 찾아볼래? <br> <span style="color:purple">'덕메사냥'<span>으로 드루와 .<br><br>
 </span></h3> </span>
    </div>
    </center>
