<head>
    <style>
     b { 
         color : Plum;
         font-size : 50pt;
     }
     
    </style>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    </head>
<center>
    <div style="position:fixed;">
        <img src="/assets/logo2.png" width="150px" class="main" onmouseover="this.src='/assets/main.png'" onmouseout="this.src='/assets/logo2.png'">
    </div>
    <br>
    <h1>환영합니덕! </h1>
<h1><b>어</b>차피 <b>덕</b>질하는 거 <b>나</b>누면서 <b>덕</b>질하자</h1>
<img src="/assets/mainh.gif" width="500px" height="auto"> <br>
<div>
<img src="/bg.png"/ width="500px" height="auto">
</div>
</center>
