

<div class="container" align="center"  onClick = " location.href='/home/main' ">

    <img src="/assets/br.png" class="bou" width="300px" height="auto">
    <img src="/assets/은즤.png" class="bou" width="300px" height="auto">
    <img src="/assets/세연.png" class="bou" width="300px" height="auto">
    <img src="/assets/지민.png" class="bou" width="400px" height="300px">
    <img src="/assets/가현.png" class="bou" width="400px" height="300px">
    
</div>
