/* ---------------------------------------------------------------------------

    appllication controller

---------------------------------------------------------------------------  */


@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

.na { 
        font-family: 'Black Han Sans', sans-serif; 
        background-color:Plum;
        color:white;
        margin-bottom:20px;
        padding:40px;
    }
    .na div {
        display: inline-block;
    }
    .na p{
        font-size:30pt
    }
    .na a {
        display: inline-block;
        font-size:20pt
    }

body {
    padding-bottom:150px;
}

.dropdown {
    float: right;
    padding-top: 15px;
    margin-right: 20px
}

.onemoreal {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #99ccff;
    border-radius: 10px;
}

.noneal{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}



/* ---------------------------------------------------------------------------

    posts controller

---------------------------------------------------------------------------  */



  table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #81DAF5;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
tbody tr:nth-child(even)  { background-color: #CEECF5; }


/* ---------------------------------------------------------------------------

    stu controller

---------------------------------------------------------------------------  */


.stu {
    margin-top: 100px;
}

.stu .image h5 {
    font-family: 'Gothic A1', sans-serif;
}

.stu .image h3 {
    font-family: 'Gothic A1', sans-serif;
}

.stu .image {
 position:relative;
 width: 1024px;
 text-align: center;
 margin-bottom:30px;
}

.stu .image .text {
 position:absolute;
 top:40px; 
 padding-top:220px;
 text-align: center;

 left:320px;
}

.stu .image .text h1 {
 border-bottom:2px black solid;
 margin-bottom:100px;
}

.stu .image .text .app img {
 position:absolute;
 margin-top:60px;
 float: right;
 width:200px;
 height:auto;
}

.stu .image .text .app img{
 left:400px;
}

 #f_duck {
 color: Plum;
}

.stu table {
    background-color:white;
}

.stu tr {
    background-color:white;
}

.stu td {
    background-color:white;
}


/* ---------------------------------------------------------------------------

    mypage controller

---------------------------------------------------------------------------  */


.mpage {
    margin-top : 100px
}

.mpage .maintable {
    height:400px;
    width:700px;
    
}

.mpage .maintable tr {
    padding:10px;
    border-top:1px black solid;
    background-color:white;
} 

.mpage .maintable td {
    padding:10px;
    background-color:white;
}


.mpage table {
    padding:10px;
    background-color:white;
    width:550px;
}

.mpage tr {
    padding:10px;
    background-color:white;
}
.mpage th {
    padding:10px;
    background-color:white;
    border-bottom: 1px black solid;
    text-align: center;
}
.mpage td {
    padding:10px;
    background-color:white;
    text-align: center;
}


/* ---------------------------------------------------------------------------

    trade controller

---------------------------------------------------------------------------  */


.tradehome { margin-top: 100px;}
.tradehome .cont { padding-right: 15px;padding-left: 15px;width:900px;margin-right: auto;margin-left: auto;}
.tradehome tr {border-bottom:1px lightgray solid; font-family: 'Gothic A1', sans-serif;}
.tradehome td {padding:10px;background-color:white;}

.tradeindex { margin-top: 100px;}
.tradeindex tr {text-align:center;background-color:white; font-family: 'Gothic A1', sans-serif;}
.tradeindex td {padding:20px;background-color:white;}
.tradeindex h2 {padding:10px}

.tradeedit { margin-top: 100px;}
.tradeedit table {
   width: 700px;
   padding:30px;
   text-align:center;
   background-color:white;
   font-family: 'Gothic A1';
}
.tradeedit tr td{ background-color:white;font-family: 'Gothic A1', sans-serif;}
.tradeedit .btn { background-color:rgb(255, 255, 255, 0);}


/* ---------------------------------------------------------------------------

    tradeapply controller

---------------------------------------------------------------------------  */

.tradelist { margin-top: 100px;}
.tradelist table{background-color:white; font-family: 'Gothic A1';}
.tradelist tr {border-bottom:1px gray solid;background-color:white;}
.tradelist td {padding:20px;background-color:white;}
.tradelist th {text-align: center;padding-bottom:20px}

.tradeapplycon { margin-top: 100px;}
.tradeapplycon table {
   width: 700px;
   height:400px;
   padding:30px;
   text-align:center;
   background-color:white;
   font-family: 'Gothic A1';
}

.tradeapplycon tr {background-color:white;}
.tradeapplycon td {background-color:white;}
.tradeapplycon .btn {background-color:rgb(255, 255, 255, 0);}

.tradeapplyedit { margin-top: 100px;}
.tradeapplyedit table {
   width: 700px;
   padding:30px;
   text-align:center;
   background-color:white;
   font-family: 'Gothic A1';
}
.tradeapplyedit td {background-color:white;}
.tradeapplyedit .btn {background-color:rgb(255, 255, 255, 0);}

.tradeapplynew { margin-top: 100px;}
.tradeapplynew table {
   width: 700px;
   padding:30px;
   text-align:center;
   background-color:white;
   font-family: 'Gothic A1';
}
.tradeapplynew tr {background-color:white;}
.tradeapplynew td {background-color:white;}
.tradeapplynew .btn {background-color:rgb(255, 255, 255, 0);}
/*마이페이지*/
@keyframes neon {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 40px #00FF00, 0 0 70px #00FF00, 0 0 90px #00FF00, 0 0 90px #00FF00;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F7FE2E, 0 0 35px #F7FE2E, 0 0 40px #F7FE2E, 0 0 50px #F7FE2E;
  }
}
.toggle--neon {
  background-color: #fff;
  margin-top: 0;
  padding: 1px 0;
}
.toggle--neon .toggle--btn {
  font-family: Audiowide;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #333;
  text-shadow: 0 0 10px transparent, 0 0 15px transparent, 0 0 25px transparent, 0 0 40px transparent, 0 0 70px transparent, 0 0 90px transparent, 0 0 90px transparent;
}
.toggle--neon .toggle--btn:before, .toggle--neon .toggle--btn:after {
  display: inline-block;
  margin: 0 1px;
  transition: all 220ms ease-in-out;
}
.toggle--neon .toggle--btn:before {
  content: attr(data-label-off);
  animation: neon 1.5s ease-in-out infinite alternate;
  animation-delay: 90ms;
  color: #333;
}
.toggle--neon .toggle--btn:after {
  content: attr(data-label-on);
}
.toggle--neon .toggle--checkbox:checked + .toggle--btn:before {
  animation: none;
  color: #333;
}
.toggle--neon .toggle--checkbox:checked + .toggle--btn:after {
  animation: neon 1.5s ease-in-out infinite alternate;
  animation-delay: 90ms;
  color: #333;
}
/*nav hover effect*/

.effect8:hover{
		box-shadow:
			0 80px 0 0  rgba(0,0,0,0.25) inset, 
			0 -80px 0 0  rgba(0,0,0,0.25) inset;
}
/*image jump*/
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
img.bou {  
  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  -moz-animation-name: bounce;
  
}


/*img.bou:hover {*/
/*  cursor: pointer;*/
/*  animation-name: bounce;*/
/*  -moz-animation-name: bounce;*/
/*}*/

