.stu .image {
 position:relative;
 width: 1024px;
 text-align: center;
 margin-bottom:30px;
}

.stu .image .text {
 position:absolute;
 top:40px; 
 padding-top:220px;
 text-align: center;
 // display: inline-block;
 left:320px;
}

.stu .image .text h1 {
 border-bottom:2px black solid;
 margin-bottom:100px;
}

.stu .image .text .app img {
 // margin:60px 0px 0px 400px;
 position:absolute;
 margin-top:60px;
 float: right;
 width:200px;
 height:auto;
}

.stu .image .text .app img{
 left:400px;
}

.stu #f_duck {
 color: Plum;
}

.stu table {
    background-color:white;
}

.stu tr {
    background-color:white;
}

.stu td {
    background-color:white;
}
