table {
    background-color:white;
}

tr {
    background-color:white;
}

td {
    background-color:white;
}
center {
    margin-top:100px;
}

tr {border-bottom:1px gray solid;}
    td {padding:20px;background-color:white;}